.copy {
    background-color: #009578;
    color: white;
    border-radius: 5px 0px 0px 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-family: inherit;
}

.copy:hover {
    background-color: #007c63;
}

.copy:active {
    background-color: #005f4b;
}

.copy:disabled {
    background-color: #474747;
    cursor: not-allowed;
}